body{
    background-color: hsl(212, 45%, 89%);
}
div{
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    width: 300px;
    margin: 400px;
    border-radius: 20px;
    text-align: center;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
h3{
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit',sans-serif;
    font-weight: 700;
    font-size: x-large;
    
}
p{
    color: hsl(220, 15%, 55%);
    font-size: medium;
    font-weight: 700;
    font-family: 'Outfit',sans-serif;
}